
.body #home, html #home
{
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}
.Header{
  margin-top: 1%;
  margin-bottom: 2.5%;
  background-color: #221C35;
  padding-top: 20px;
  padding-bottom: 30px;
}

.logout__button {
 margin-left: 90%;
 color:#E5E1E6;
 font-size: large;
 background-color:  #4A25AA;
 border-radius: 10px;
 padding-left: 1%;
 padding-right: 1%;
 padding-top: 1%;
 padding-bottom: 1%;
}
.spinning-loader {
    border: 10px solid #E5E1E6;
    border-top: 10px solid #E5E1E6;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 