.header{
  background-color:#6467c6;
}

.logout__button {
 margin-left: 90%;
 color:#E5E1E6;
 font-size: large;
 background-color:  #4A25AA;
 border-radius: 10px;
 padding-left: 2%;
 padding-right: 2%;
 padding-top: 1%;
 padding-bottom: 1%;
}
.spinning-loader {
    border: 10px solid #E5E1E6;
    border-top: 10px solid #E5E1E6;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 